body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, Cantarell, "Oxygen Sans", "Helvetica Neue", sans-serif;

  --pink: #E91E63;
  --green: #8BC34A;
}

code,
pre {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

main {
  max-width: 50rem;
  margin: 0 auto;
}

ul {
  line-height: 1.4;
  padding-inline-start: 20px;
}

li > ul {
  margin-top: 0.2rem;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  text-decoration: underline;
}

pre {
  white-space: pre-wrap;
  padding: 12px 20px;
}

:not(pre) > code {
  /* color: #E91E63; */
  color: #555;
}

code {
  font-size: 0.8rem;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 2rem 0;
}

var {
  font-style: normal;
  color: #555;
  font-size: 0.8rem;
  padding: 1px 4px;
  border-radius: 2px;
  border: 1px solid #bbb;
}

aside {
  background: #efd7f3;
  padding: 1rem;
  border-left: 1rem solid #CE93D8;
  border-radius: 4px;
  color: #510b5d;
}

aside > :last-child {
  margin-bottom: 0;
}

table {
  border-collapse: collapse;
  margin: 1em 0;
}

table th {
  text-align: left;
  font-size: 80%;
  background: none;
  font-weight: normal;
  color: gray;  
}

table td,
table th {
  border: 0;
  padding: 4px 10px;
}

h1 {
  margin: 28px;
}

.notice {
  background: #eee;
  padding: 1em 30px;
  color: gray;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.notice a {
  color: inherit;
}

.page {
  display: flex;
}

.page nav {
  margin: 0 20px 0 10px;
  font-size: 0.9rem;
}

.page nav h1 {
  margin: 17px 0;
}

.page nav ul {
  list-style: none;
}

.page main {
  flex: 1;
  font-size: 0.9rem;
}

.page p {
  line-height: 1.5;
  margin: 1.6em 0;
}

.col2,
.col4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin-bottom: 3rem;
}

.col4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.hero {
  text-align: center;
  padding: 10rem 0;
  margin-bottom: 1rem;
}

.card {
  border: 1px solid gray;
  border-radius: 2px;
  font-size: 0.85rem;
}

.card-header,
.card-section,
.card-footer {
  display: block;
  padding: 1rem;
  margin: 0;
}

.card-header {
  font-size: 1rem;
}

.card-header,
.card-section {
  border-bottom: 1px solid #ddd;
}

.card.code {
  display: flex;
  flex-direction: column;
  border: 0;
}

.card.code pre {
  flex: 1;
  color: #444;
  border: 0;
  white-space: pre;
}

.faq {
  max-width: 35rem;
  margin: 0 auto;
  font-size: 0.85rem;
}

.faq > div {
  margin: 4rem 0;
}

.nav-open,
.nav-close {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
}

.nav-open img,
.nav-close img {
  width: 50px;
  height: 50px;
}

.nav-close {
  z-index: 3;
}

@media only screen and (max-device-width: 640px) {
  .col2,
  .col4 {
    padding: 0 10px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr;
  }
  .col4 {
    grid-template-columns: 1fr 1fr;
  }
  .faq {
    max-width: 500px;
  }
  .card.code pre {
    white-space: pre-wrap;
  }

  .nav-open {
    display: inline;
    z-index: 1;
  }

  .page nav {
    display: none;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    padding: 10px 50px 10px 20px;
    background: #fff;
    font-size: 36px;
    margin: 0;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    transition: right .1s;
  }
  
  .page nav.show {
    display: grid;
  }

  .page nav.show .nav-close {
    display: inline;
  }

  .page nav li {
    margin: 5px 0;
  }

  main {
    padding: 0 20px;
  }

  h1 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .notice {
    padding-left: 22px;
    padding-right: 22px;
  }
}

@media (min-width: 1200px) {
  .page main {
    margin-left: 100px;
  }
}

.admin-controls {
  position: fixed;
  top: 5px;
  right: 5px;
}